@font-face {
  font-family: "Measure";
  src: url("fonts/Measure/Measure.otf");
}
* {
  font-family: "Measure", sans-serif;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
* img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-block {
  width: 1000px;
  height: 600px;
  background-color: #D2D2B8;
  border: 25px solid #B2313D;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
  transform-style: preserve-3d;
}
.game-block .console-face {
  position: absolute;
  width: 1000px;
  height: 600px;
  background-color: #B2313D;
}
.game-block .side-back {
  transform: rotateY(180deg) translateZ(49px);
}
.game-block .side-left {
  transform: rotateY(267.1deg) translateZ(500px);
  width: 50px;
}
.game-block .side-right {
  transform: rotateY(93deg) translateZ(500px);
  width: 50px;
}
.game-block .side-top {
  transform: rotateX(95deg) translateZ(300px);
  height: 50px;
}
.game-block .side-bottom {
  transform: rotateX(-95deg) translateZ(300px);
  height: 50px;
}

.game-logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: solid black 3px;
  position: absolute;
  top: 40px;
  left: 40px;
}
.game-logo .logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.game-logo .logo-dot {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  border: solid 3px #D2D2B8;
  left: -12.5px;
  top: 50%;
  transform: translateY(-50%);
}

.game-screen {
  width: 610px;
  height: 470px;
  background-color: #D2D2B8;
  border: #919594 5px solid;
  border-radius: 10px;
}
.game-screen .game-screen__name {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #D2D2B8;
  padding: 0 5px;
  font-size: 30px;
}
.game-screen .first {
  top: 50px;
  color: #B2313D;
}
.game-screen .second {
  bottom: 52px !important;
}
.game-screen .game-screen__outline {
  border-radius: 10px;
  border: 3px black solid;
  width: 560px;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game-screen .main-game-screen {
  width: 520px;
  height: 336px;
  background-color: #9B9F9E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #AC3E44 10px solid;
  border-radius: 10px;
  background: url(./images/game-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.game-buttons {
  position: absolute;
  display: flex;
  bottom: 40px;
  flex-direction: column;
  row-gap: 30px;
}
.game-buttons .button {
  width: 75px;
  height: 75px;
  background-color: #CB2D3E;
  border: 10px solid #AC3E44;
  border-radius: 100%;
}

.game-buttons.left {
  left: 50px;
}
.game-buttons.left .button:nth-child(1) .triangle {
  top: -40px;
  left: -10px;
  rotate: 315deg;
  transform-origin: bottom;
}
.game-buttons.left .button:nth-child(2) .triangle {
  bottom: 10px;
  left: -10px;
  rotate: 222deg;
  transform-origin: bottom;
}

.game-buttons.right {
  right: 50px;
}
.game-buttons.right .button:nth-child(1) .triangle {
  top: -40px;
  right: -10px;
  rotate: 45deg;
  transform-origin: bottom;
}
.game-buttons.right .button:nth-child(2) .triangle {
  bottom: 10px;
  right: -10px;
  rotate: 130deg;
  transform-origin: bottom;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 50px solid black;
  border-radius: 3px;
  position: absolute;
}

.settings-buttons {
  position: absolute;
  top: 50px;
  right: 90px;
}
.settings-buttons .main-settings .main-settings__button {
  width: 50px;
  height: 25px;
  background: #9B9F9E;
  border: 4px solid #AC3E44;
  border-radius: 20px;
}

.upeer-left-egg {
  width: 25px;
  height: 25px;
  position: absolute;
  animation: upeer-left-egg 5s infinite;
  animation-timing-function: steps(1);
}

@keyframes upeer-left-egg {
  0% {
    top: 87px;
    left: 35px;
    rotate: 45deg;
  }
  20% {
    top: 98px;
    left: 50px;
    rotate: 90deg;
  }
  40% {
    top: 104px;
    left: 63px;
    rotate: 135deg;
  }
  60% {
    top: 110px;
    left: 80px;
    rotate: 180deg;
  }
  80% {
    top: 135px;
    left: 100px;
    rotate: 225deg;
  }
  90% {
    visibility: hidden;
  }
}
.lower-left-egg {
  width: 25px;
  height: 25px;
  position: absolute;
  animation: lower-left-egg 5s infinite;
  animation-timing-function: steps(1);
}

@keyframes lower-left-egg {
  0% {
    top: 167px;
    left: 35px;
    rotate: 100deg;
  }
  20% {
    top: 170px;
    left: 50px;
    rotate: 145deg;
  }
  40% {
    top: 178px;
    left: 63px;
    rotate: 190deg;
  }
  60% {
    top: 186px;
    left: 80px;
    rotate: 235deg;
  }
  80% {
    top: 211px;
    left: 100px;
    rotate: 280deg;
  }
  90% {
    visibility: hidden;
  }
}
.lower-right-egg {
  width: 25px;
  height: 25px;
  position: absolute;
  animation: lower-right-egg 5s infinite;
  animation-timing-function: steps(1);
}

@keyframes lower-right-egg {
  0% {
    top: 165px;
    right: 35px;
    rotate: -45deg;
  }
  20% {
    top: 170px;
    right: 50px;
    rotate: -90deg;
  }
  40% {
    top: 175px;
    right: 63px;
    rotate: -135deg;
  }
  60% {
    top: 183px;
    right: 80px;
    rotate: -180deg;
  }
  80% {
    top: 208px;
    right: 100px;
    rotate: -225deg;
  }
  90% {
    visibility: hidden;
  }
}
.upper-right-egg {
  width: 25px;
  height: 25px;
  position: absolute;
  animation: upper-right-egg 5s infinite;
  animation-timing-function: steps(1);
}

@keyframes upper-right-egg {
  0% {
    top: 87px;
    right: 35px;
    rotate: -100deg;
  }
  20% {
    top: 98px;
    right: 50px;
    rotate: -145deg;
  }
  40% {
    top: 110px;
    right: 63px;
    rotate: -180deg;
  }
  60% {
    top: 120px;
    right: 80px;
    rotate: -225deg;
  }
  80% {
    top: 135px;
    right: 100px;
    rotate: -270deg;
  }
  90% {
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */